<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Ccloud</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^ccloudtv\:\/\/.+</string>
			</array>
		</dict>
		<key>HostedStreams</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>.*167.114.102.27*.</string>
				<string>^ccloudtv2\:\/\/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
